
body {
    text-align: center;
    background-image: url(assets/portfolioBackground.png);
}

.gram{
  width: 200px;
}

.doily{
  width:1150px;
  margin-top: -5px;
}

.frame{
  width:800px;
  padding-right:700px;
  margin-top: -25px;
  margin-left:0px;
}

#about{
padding-top: 150px;
width: 900px;
padding-bottom: 40px;
}



.fish1 img{
  width: 200px;
}

.fish1 {
  
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 1200px;
  left: 100px;
  clip-path: polygon(
    25% 0%,   /* top-left */
    75% 0%,   /* top-right */
    100% 50%, /* right */
    75% 100%, /* bottom-right */
    25% 100%, /* bottom-left */
    0% 50%    /* left */
  );


}

.fish2 img{
  width: 400px;
}

.fish2{
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  top: 890px;
  left: 375px;
  transform: scaleX(-1);
  clip-path: polygon(
    25% 0%,   /* top-left */
    75% 0%,   /* top-right */
    100% 50%, /* right */
    75% 100%, /* bottom-right */
    25% 100%, /* bottom-left */
    0% 50%    /* left */
  );
}

.fish3 img{
  width: 300px;
}

.fish3{
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  top: 1190px;
  left: 450px;
  transform: scaleX(-1);
  clip-path: polygon(
    25% 0%,   /* top-left */
    75% 0%,   /* top-right */
    100% 50%, /* right */
    75% 100%, /* bottom-right */
    25% 100%, /* bottom-left */
    0% 50%    /* left */
  );
}

.fish4 img{
  width: 400px;
}

.fish4{
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  top: 1050px;
  left: 200px;
  clip-path: polygon(
    25% 0%,   /* top-left */
    75% 0%,   /* top-right */
    100% 50%, /* right */
    75% 100%, /* bottom-right */
    25% 100%, /* bottom-left */
    0% 50%    /* left */
  );
}

.fish5 img{
  width: 350px;
}

.fish5{
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  top: 950px;
  left: 70px;
  clip-path: polygon(
    25% 0%,   /* top-left */
    75% 0%,   /* top-right */
    100% 50%, /* right */
    75% 100%, /* bottom-right */
    25% 100%, /* bottom-left */
    0% 50%    /* left */
  );
}

.instruct{
  position: absolute;
  top: 1050px;
  left: 900px;
  font-family: 'Goudy Old Style', serif;
  width:500px;
  font-size: 50px;
  color: rgb(93, 108, 134);
}

.box{
  position: absolute;
  top:815px;
  left:825px;
  width:650px;
}

.abouttitle{
  position:absolute;
  top:650px;
  left:538px;
  font-family: 'Goudy Old Style', serif;
  font-size: 100px;
  color: rgb(54, 57, 95);
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding-right: 1400px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}